/*DOCUMENT*/



:root {
    --primari-font: 'Roboto', sans-serif;
    --secondery-font: 'Raleway', sans-serif;
    --title-text-color: #2E2F42;
    --body-text-color: #434455;
    --accent-color: #e7e9fc;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404bbf;
    --background-section-color: #f4f4fd;
    --background-dark-color: #2e2f42;
    --background-white-color: #ffffff;
}



.list {
    list-style: none;
}

.link {
    text-decoration: none;
}




/*SECTION HEADER*/

.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

.logo-link {
    font-family: var(--secondery-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
    text-transform: uppercase;
}

.logo-text {
    font-family: var(--secondery-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
}

.menu-page-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.menu-page-nav-item :hover,
.menu-page-nav-item :focus {
    color: var(--pressed-state-color);
}

.contacts-address {
    font-style: normal;
}

.contacts-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--body-text-color);

}

.contacts-address:hover,
.contacts-address:focus {
    color: var(--pressed-state-color);
}





/*SECTION ONE*/
.main-content-hero {
    background-color: var(--background-dark-color);
}

.main-content-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-white-color);


}

.main-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-white-color);
    background: var(--primary-brand-color);
    cursor: pointer;
    align-items: center
}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--pressed-state-color);
    color: var(--background-white-color);
}



/*SECTION TWO*/

.our-actions-subtitle {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.our-actions-subtitle-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

/*SECTION THREE*/

.header-our-working {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

/*SECTION FOUR*/

.our-team {
    background-color: var(--background-section-color);
}

.our-team-item {
    background-color: var(--background-white-color);
}

.header-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.our-team-subtitle {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.our-team-subtitle-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

/*SECTION FOOTER*/

.peage-footer {
    background: var(--background-dark-color);
}

.footer-logo-link {
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
    text-transform: uppercase;
}

.footer-logo-text {
    font-family: var(--secondery-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--background-section-color);
    text-transform: uppercase;
}


.text-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-section-color);
}



/*PORTFOLIO*/


.portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background: var(--background-section-color);
    align-items: center;
    cursor: pointer;
}


.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--background-white-color);
    background-color: var(--pressed-state-color);
}

.our-actions-subtitle {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.our-actions-subtitle-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}